* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #cee;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.botonCarrito, .botonVolver {
    grid-area: botonCarrito;
    background-color: #28f;
    height: 50px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 250px;
    border: none;
    box-shadow: 2px 2px 5px 2px rgba(2, 2, 2, 0.4);
}

.container {
    padding-top: 10px;
}

#containerProductos {
    height: auto;
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

img {
    height: 200px;
    width: 200px;
    margin: 5px 0;
}

.agregar {
    padding: 5px 10px;
    background-color: #eee;
}

.agregar:hover {
    background-color: #28f;
}

.mostrarCarrito, .pago, .formulario, .carritoVacio, .precio {
    display: none;
} 

.ver {
    display: flex;
}

.ocultar {
    display: none;
}

.mostrarCarrito {
    grid-area: mostrarCarrito;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
}

#productosCarrito {
    text-align: left;
    margin-top: 8px;
}

.cardCarrito {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.cardCarrito img{
    width: 50px;
    height: 50px;
}

.cardCarrito h2 {
    font-size: medium;
}

.mostrarCarrito button {
    margin-bottom: 10px;    
    width: 200px;
    background-color: white;
}

.mostrarCarrito button:hover {
    background-color: #28f;
}

.cardCarrito button {
    width: 2.5em;
    border-radius: 20px;
    background-color: white;
}

.cardCarrito button:hover {
    background-color: red;
}

.divCarrito {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.botonesCarrito {
    display: flex;
    flex-direction: column;
}

.finalizarCompra {
    display: flex;
}

.formulario, .pago {
    flex-direction: column;
    width: 500px;
    height: 400px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.formulario {
    margin-left: 20px;
}

.formulario input {
    width: 300px;
    height: 25px;
    margin-left: 0px;
}

#submit {
    margin-top: 20px;
    width: 100px;
}

.pago {
    grid-area: metodoPago;
    margin-right: 20px;
}

.precio {
    grid-area: finalizar;
}

button {
    height: 30px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

button:hover {
    background-color: #28f;
}

.pago button {
    width: 200px;
}

