* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #cee;
}

.container {
    padding-top: 10px;
}

.productos {
    height: auto;
    width: 100%; 
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.8fr 2fr;
    grid-template-areas: 
    "tituloProductos botonCarrito"
    "cards cards";
}

.tituloProductos {
    grid-area: tituloProductos;
    margin: 10px;
}

.botonCarrito {
    grid-area: botonCarrito;
    background-color: #28f;
    height: 50px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 250px;
    border: none;
    box-shadow: 2px 2px 5px 2px rgba(2, 2, 2, 0.4);

}

.cards {
    grid-area: cards;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputCantidad {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px 0;
}

input {
    width: 30px;
    height: auto;
    margin-left: 10px;
}

img {
    margin: 5px 0;
}

h4 {
    margin: 5px 0;
}


.mostrarCarrito, .pago, .formulario, .carritoVacio, .precio {
    display: none;
} 

.ver {
    display: flex;
}

.ocultar {
    display: none;
}

.mostrarCarrito {
    grid-area: mostrarCarrito;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.mostrarCarrito button {
    margin-bottom: 10px;    
    width: 200px;
}

.divCarrito {
    display: flex;
    justify-content: space-between;
}

.botonesCarrito {
    display: flex;
    flex-direction: column;
}

.finalizarCompra {
    display: flex;
}

.formulario, .pago {
    flex-direction: column;
    width: 500px;
    height: 500px;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
}

.formulario input {
    width: 300px;
    margin-left: 0px;
}

#submit {
    margin-top: 20px;
    width: 100px;
}

.pago {
    grid-area: metodoPago;
    margin-right: 20px;
}

.precio {
    grid-area: finalizar;
}

button {
    height: 30px;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid black;
}

.pago button {
    width: 200px;
}

